<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>A Sample html code</title>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type ="text/css" href="header.css">
  </head>
  <body id = "top">

    <div class="logo">
      <div class="circle c1"></div>
      <div class="circle c2"></div>
      <div class="circle c3"></div>
      <div class="circle c4"></div>

    </div>
    <div class="navbar">    </div>

    <div class="banner">    </div>
    <div class="outer">
      <div class="inner">

      </div>
    </div>
    <br><br>
    <div id="box1"></div> <div id="box2"></div>
    <div id="box3"></div>
    <div id="box4"></div>
    <div id="box5"></div>
    <div id="box6">this is a fixed div</div>
    <div id="box7"></div>

    <div class="conatiner">
      <div id="box8"></div>
      <div id="box9"></div>

    </div>



    <h1> In the world</h1>
    <h2> Hello world now from here</h2>
    hello world in the world
    <h1> Hello world I am here</h1>
    <p id ="bfr"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. lorem </p>
    <h1>The image from asset folder</h1>
    <br>
  <img src ="../assets/img/home-office-336378_640.jpg" alt = "a computer image" height = 300px width = 500px>
  <h1>The image from pixabay and online rendered</h1>
  <img src="https://cdn.pixabay.com/photo/2016/03/26/13/09/cup-of-coffee-1280537_960_720.jpg" alt="the pixa logo coffee" height = 300px weight = 500px>
  <br>
  <a href="" target = "_blank">vist us here or enquiry about us</a>
  <br>
   <!-- this is from emmet comment = ctrl + / -->
   <h2>Listing in html</h2>
   <ul>
     <li>raghu</li>
     <li>ram</li>
     <li>rajan</li>
     <li>ronni</li>
   </ul>
   <ol>
     <li>html</li>
     <li>css</li>
     <li>javascript</li>
     <li>sass</li>
   </ol>

   <table border = "1px">
     <tr>
       <th>sno</th>
       <th>name</th>
       <th>marks</th>
     </tr>
     <tr>
       <td>1</td>
       <td>rahul</td>
       <td>23</td>
     </tr>
     <tr>
       <td>2</td>
       <td>raman</td>
       <td>34</td>
     </tr>
   </table>
<br><br>
<form class="" action="" method="get">
  <p>general info</p><br>
  <label for="name">Name</label>
  <input type="text" name="" value=""><br><br>

  <label for="password">password</label>
  <input type="password" placehoder = "pwsd" name="" value=""><br><br>

  <label for="">email</label>
  <input type="email" name="" value=""><br><br>

  <textarea name="name" rows="8" cols="80"></textarea>

  <p>Select language</p>
  <input type="radio" name="code" value="">js
  <input type="radio" name="code" value="">c
  <input type="radio" name="code" value="">r

  <p>Select language</p>
  <input type="checkbox" name="" value="">js
  <input type="checkbox" name="" value="">c
  <input type="checkbox" name="" value="">java

  <p>Select language</p>
  <select class="language" name="">
    <option value="">js</option>
    <option value="">c</option>
    <option value="">ruby</option>

  </select>
</form>
<br><br><br><br><br><br>

<div class="imgbnr">
  <img id = "img1" src="./assets/img/beauty.jpg" alt="">
</div>
<br><br><br><br>
<div class="box b1"></div>
<div class="box b2"></div>
<div class="box b3"></div>
<div class="box b4"></div>
<div class="box b5"></div>
<br>
<br>
<br>
<br>
<br>
<div class = "heart"></div>
<br>
<br>
<br>
<br>
<br>
   <a href="#top"> or just want to go to the top</a>
   <br>The content as you see is &copy;copyrighted &trade;

<br><br><br><br><br><br>
  </body>
</html>
